footer {
    background-color: #2d2e32;
    padding: 5rem 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.footerc {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

footer h3 {
    color: #fff;
    font-size: 1.7rem;
}

.footerc__socials {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}

.footerc__socials a {
    color: #fff;
    font-size: 2.3rem;
}

.footerc__socials a:hover {
    scale: 1.2;
}

@media (max-width: 550px){
    .footerc {
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        text-align: center;
    }
}